/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

*, ::after, ::before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.dino {
  width: 60px;
  height: 60px;
  background-image: url(../img/t-rex.png);

  position: absolute;
  bottom: 0;
}

.obstacle {
  width: 60px;
  height: 60px;
  background-image: url(../img/cacti.png);
  bottom: 0;
  position: absolute;
}

@keyframes slideright {
  from {
    background-position: 7000%;
  }
  to {
    background-position: 0%;
  }
}

@-webkit-keyframes slideright {
  from {
    background-position: 7000%;
  }
  to {
    background-position: 0%;
  }
}

#desert {
  position: absolute;
  bottom: 0px;
  background-image: url('../img/t-rex-background.png');
  background-repeat: repeat-x;
  animation: slideright 500s infinite linear;
  -webkit-animation: slideright 500s infinite linear;
  width: 100%;
  height: 200px;
}
